<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <header>
      <h1 class="header__title">Jarmiko List</h1>
      <a href="#" id="menu" class="header__burger" aria-label="Open Menu">☰</a>

      <nav id="drawer" aria-labelledby="menu" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item">
            <a href="https://github.com/fjrRA">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main-content">
      <div class="hero">
        <div class="hero__img"></div>

        <div class="hero__title">
          <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel,
            repellendus.
          </h1>
          <a href="#main-content">Lihat Restoran</a>
        </div>
      </div>

      <h1 class="section__title">List Restaurant</h1>

      <section class="card__list"></section>
    </main>

    <footer><p>Copyright © 2024 - Hunger Apps</p></footer>
  </body>
</html>
